body {
    font-family: 'Arial';
}

h1 {
    text-align: center;
    color: slateblue;
}

h3 {
    font-weight: 600;
}

ul {
    width: fit-content;
    margin: 0 auto;
}

.data {
    color: rgb(0, 233, 0);
    font-weight: 600;
    text-decoration: wavy;
}